$primary-color: #2196F3;
$primary-color-dark: #1E88E5;
$primary-color-light: #E3F2FD;
$primary-lightest: #F2F9FE;
$bg-color-gray: rgba(0, 0, 0, 0.05);
$text-color: #333333;
$text-color-light: #757575;
$card-green: #0ACF83;
$card-red: #F24E1E;