$primary-color: #2196F3;
$primary-color-dark: #1E88E5;
$primary-color-light: #E3F2FD;
$primary-color-lightest: #F2F9FE;
$gray-light: rgba(0, 0, 0, 0.05);
$gray-dark: #333333;
$gray: #757575;
$green: #0ACF83;
$red: #F24E1E;