@import '../_variables';

// About
// ==============================================

.about__inner {
  background-color: $bg-color-gray;
  border-radius: 5px;
  margin: 33px 0;
  padding: 28px 36px;
}

.about__title {
  margin-bottom: 20px;
}

.about__elem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.about__card {
  display: flex;
  width: 360px;
  padding: 16px;
  background-color: #fff;
}

.about__step {
  height: 40px;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: #fff;
  background-color: $primary-color;
  padding: 10px 14px;
  margin-right: 16px;
  border-radius: 50%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.about__info {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: $text-color-light;
}
